.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.formWrapper {
    padding: 40px 20px;
    max-width: 320px;
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    color: var(--secondary-color);
}
