.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    background-color: var(--third-color);
    max-width: 20%;
}

.container > p {
    margin-bottom: 15px;
}

.container > a {
    margin-bottom: 15px;
}